element.style {

	body{
		height: 100%
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	html{
		font-size: 100%;
	}
	body {
		display: block;
	}
	div {
		display: block;

	}
	html {
		font-size: 100%;
	}
	